
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/StyleSheet/StyleSheet1.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="login"><div id="title">Authentification</div> 
    <div id="imgcontent"><img src="~/Images/lock2.png" /></div><div id="formulaire">
    <form>
        <label>Utilisateur</label><input class="data" type="text" /><br/>
        <label>Mot de passe</label><input class="data" type="password" /><br/>
        <input type="submit" value="" />

    </form>
    </div>
    </div>
</body>
</html>
